.FontColor,a.FontColor,a.FontColor:hover{color:#00a8e1;}
.FontBgColor{background-color:#00a8e1;}
.FontBorderColor{border-color:#00a8e1;}
.FontBorderHoverColor:hover, a.FontBorderHoverColor:hover{border-color:#00a8e1!important;}
.FontBgHoverColor:hover{background-color:#00a8e1!important;}
.FontHoverColor:hover{color:#00a8e1!important;}
.AddtoCartBgColor{background-color:#AF0D64;}
.AddtoCartBorderColor{border-color:#AF0D64;}
.BuyNowBgColor{background-color:#EA215C;}
.ReviewBgColor{background-color:#EA215C;}
.DiscountBgColor{background-color:#EA215C;}
.DiscountBorderColor{border-color:#EA215C;}
.ProListBgColor{background-color:#005AB0;}
.ProListHoverBgColor:hover{background-color:#357CBE;}
.GoodBorderColor{border-color:#005AB0;}
.GoodBorderHoverColor:hover{border-color:#357CBE;}
.GoodBorderColor.selected{border-color:#357CBE;}
.GoodBorderBottomHoverColor{border-bottom-color:#357CBE;}
