@charset "UTF-8";
/*
Powered by ueeshop.com    http://www.ueeshop.com
广州联雅网络科技有限公司    020-83226791
*/

body{position: relative;font-family: Whitney_Medium;color: #333333;}
.trans{transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out;}
.pic_box{text-align: center;overflow: hidden;}
.pic_box span{display: inline-block;height: 100%;vertical-align: middle;}
.pic_box img{display: inline-block;max-height: 100%;max-width: 100%;vertical-align: middle;}
a:hover{text-decoration: none;}
/*************************** 宽屏样式 start***************************/
.wide{width: 980px;min-width: 980px;}
.w_1200 .wide{width:1200px; min-width:1200px;}
.w_1200 #top_bar_outer, .w_1200 #header, .w_1200 #nav_outer, .w_1200 #service_outer, .w_1200 #footer_outer{min-width:1200px;}
.w_1200 .side_right{width:946px;}
.w_1200 .pro_right{width:940px;}
.w_1200 .prod_sort a{padding:0 15px;}
.w_1200 .prod_menu{display:block;}
.w_1200 #main .index_list .prod_box{width: 259px;margin: 0 20px;}
.w_1200 #main .index_list .prod_box .pic_box{width: 259px;height: 259px;}

.w_1200 #nav{width: 880px;}
.w_1200 #header .search form{width: 775px;}
.w_1200 #header .search form input[name=Keyword]{width: 715px;}
.w_1200 #footer_outer dl.fore{max-width: 285px;}
/*************************** 宽屏样式 end ***************************/

/*************************** header start ***************************/
.header_filling{height: 79px;}
#header{position: absolute;width: 100%;text-align: center;z-index: 999;background: url(../images/top_bg.png) no-repeat center center;min-height: 320px;}
#header.fix{background: rgba(0,0,0,0.7);min-height: 78px;position: fixed;top: 0;}
#header.static{position: absolute;}
#header .logo{max-width:140px;height: 78px;overflow:hidden;}
#header .logo a{display:table-cell; height: 78px; vertical-align:middle;}
#header .logo img{max-width:100%; max-height:100%;}
#header .search{position: relative;width: 20px;height: 20px;background: url(../images/search_icon.png) no-repeat center center;cursor: pointer;padding:0 15px;}
#header .search.close{background-image: url(../images/search_close.png);}
#header .ajax_search .search_content_box{left: auto !important;right: 0px;top: 31px !important;}
#header .func{margin-top: 30px;margin-right: 5px;}
#header .func .search{}
#header .func .sign_in{width: 50px;height: 20px;position: relative;background: url(../images/user_icon.png) no-repeat center center;}
#header .func .sign_in.cur{background-image: url(../images/user_icon_cur.png);}
#header .global_account_sec{display: block;width: 50px;height: 20px;}
#header .func .global_login_sec{display: block;width: 50px;height: 20px;}
#header .func .signin_box_sec{padding-top: 10px;top: 20px;left: 50%;margin-left: -161px;}
#header .func .signin_box_sec:before{position: absolute;left: 0;right: 0;top: 0px;margin:auto;border-width: 0 12px 12px 12px;border-style: solid;border-color: transparent;border-bottom-color: #fff;content: '';width: 0;height: 0;}
#header .func .AccountButton_sec{display: none;}
#header .func .account_container_sec{top: 20px;padding-top: 10px;left: 50%;margin-left: -101px;}
#header .func .account_container_sec:before{position: absolute;left: 0;right: 0;top: 0px;margin:auto;border-width: 0 12px 12px 12px;border-style: solid;border-color: transparent;border-bottom-color: #fff;content: '';width: 0;height: 0;}
#header .func .header_cart{padding-left: 15px;}
#header .search form{position: absolute;top: -10px;right: 0px;display: none;border-bottom: 1px solid #7b7671;}
#header .search form a.close{position: absolute;right: 0;top: 0;width: 50px;height: 41px;}
#header .search form{width: 525px;padding-right: 50px;}
#header .search form input[name=Keyword]{float: right;width: 455px;height: 40px;line-height: 40px;padding: 0 10px;background: none;border: none;color: #fff;}
#header .search form input[name=Keyword]::placeholder{color: #fff;}
#header .search form input[type=submit]{float: left;width: 40px;height: 40px;background-image: url(../images/search_icon.png);background-position: center center;background-repeat: no-repeat;cursor: pointer;background-color: transparent;border: none;}
#header .header_cart{position: relative;width: 18px;height: 20px;cursor: pointer;}
#header .down_header_cart.header_active{border: none;box-shadow: none;}
#header .down_header_cart .cart_note{top: 20px;margin-top: 10px;padding-top: 5px;}
#header .down_header_cart .cart_note:before{position: absolute;left: 0;top: -10px;content: '';width: 100%;height: 10px;}
#header .down_header_cart .cart_note:after{position: absolute;right: 0;top: -8px;margin:auto;border-width: 0 8px 8px 20px;border-style: solid;border-color: transparent;border-bottom-color: #fff;content: '';width: 0;height: 0;}


#nav{display: inline-block;margin-top: 32px;width: 650px;height: 46px;}
#nav .nav_sec{top: 70px;}
#nav .small_nav_sec{top: 37px;}
#nav .nav_sec .nav_thd_list{text-align: left;}
#nav .nav_item>li{float: left;}
#nav .nav_item>li>a{display: block;padding:0 20px 30px 20px;font-size: 14px;color: white;text-transform: uppercase;}

#footer_outer{background: #242424;text-align: justify;text-justify: inter-ideograph;}
#footer_outer .br{display: inline-block;width: 100%;}
#footer_outer dl{padding-bottom: 40px;}

#footer_outer dl.fore{max-width: 215px;display: inline-block;vertical-align: top;}
#footer_outer dl.newsletter{display: inline-block;vertical-align: top;width: 320px;}
#footer_outer dl.newsletter dt{border-bottom: none;}
#footer_outer dl dt{margin: 50px 0 10px;padding-bottom: 15px;font-size: 14px;font-family: Whitney_Medium;color: white;border-bottom: 1px solid #535353;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;height: 16px;line-height: 16px;}
#footer_outer dl dd{}
#footer_outer dl dd a{display: block;font-size: 14px;line-height: 26px;height: 26px;color: #999999;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
#footer_outer dl dd a:hover{color: #fff;}
#footer_outer dl.newsletter input[name=Email]{width: 175px;height: 31px;line-height: 31px;padding: 0 17px;border: 1px solid #cfcfcf;background: #242424;color: #999999;font-size: 12px;border-radius: 18px;margin-right: 9px;}
#footer_outer dl.newsletter input[type=submit]{width: 98px;height: 33px;line-height: 33px;text-align: center;background: #cfcfcf;color: #242424;border: none;cursor: pointer;font-size: 14px;border-radius: 18px;font-family: Whitney_Medium;}
#footer_outer dl.newsletter .share{margin-top: 45px;}
#footer_outer dl.newsletter .share span{display: inline-block;width: 100%;margin-bottom: 15px;font-size: 14px;color: white;font-family: Whitney_Medium;}
#footer_outer dl.newsletter .share li{margin-right: 0;width: 37px;}
#newsletter_form{}
#footer{background: #000000;}
#footer .func{margin: 33px 0;height: 20px;line-height: 20px;}
#footer .func .item{position: relative;width: auto;}
#footer .func .item.language{margin-left: 20px;}
#footer .func .item.language img{display: inline-block;vertical-align: middle;width: 16px;height: 11px;margin-right: 7px;}
#footer .func .item.currency{}
#footer .func .item strong,#footer .func .item dt,#footer .func .item dl{display: inline-block;vertical-align: middle;font-size: 14px;color: #ffffff;}
#footer .func .item dt{background: url(../images/down_arrow.png) no-repeat right center;padding-right: 15px;margin-right: 10px;}
#footer .func .item dl{color: #666666;margin-left: 5px;}
#footer .func .item .name{display: inline-block;vertical-align: middle;height: 18px;line-height: 18px;color: #999999;font-size: 14px;}
#footer .func .item dd{display:none;position: absolute;bottom:20px;right: 0px;width: 65px;background: white;-webkit-border-radius-top-left: 6px;-moz-border-radius-top-left: 6px;border-top-left-radius: 6px;-webkit-border-radius-top-right: 6px;-moz-border-radius-top-right: 6px;border-top-right-radius: 6px;-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box;text-align: center;padding: 5px 10px;}
#footer .func .item:hover dd{display: block;}
#footer .func .item.currency dd{width: 50px;}
#footer .pay{padding-bottom: 35px;}
#footer .foot_copy{margin: 33px 0;color: #aaaaaa;font-size: 14px;height: 20px;line-height: 20px;}
#footer .foot_copy a{color: #aaa;}
.partners_box a{margin: 0;}
.partners_box img{max-width: 100px;max-height: 40px;margin: 0;margin-right: 5px;}
.partners_box .themes_bor{border:none;}

.global_swap_chain{ background:#000; color:#fff;}
.global_swap_chain a{ color:#fff;}

#banner{min-height: 320px;background: white;}
#banner .hd{height: 13px;bottom: 23px;}
#banner .hd ul li{width: 13px;height: 13px;margin-left: 17px;background: #d4d6d6;border-radius: 50%;}
#banner .hd ul li.on{width: 11px;height: 11px;background: none;border: 1px solid #d4d6d6;}

#main{}
#main .top_title{position: relative;margin: 35px 0;text-align: center;}
#main .top_title:before{content: '';position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin:auto;width: 81%;height: 0;border-bottom: 1px solid #cfcfcf;z-index: -1;}
#main .top_title span{display: inline-block;vertical-align: middle;padding: 0 24px;font-size: 18px;color: #111111;background: #fff;text-transform: uppercase;}
#main .index_list{margin-bottom: 50px;}
#main .index_list .title{margin: 70px 0 53px;}
#main .index_list .title .item{width: 219px;height: 48px;line-height: 48px;margin-right: 17px;border: 1px solid #ffffff;border-radius: 25px;text-align: center;font-size: 18px;cursor: pointer;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
#main .index_list .title .item.on,#main .index_list .title .item:hover{color: #00a8e1;border-color: #00a8e1;}
#main .index_list .title .item.last{margin-right: 0;}
#main .index_list .prod_box{position: relative;width: 225px;padding-bottom: 20px;min-height: auto;margin:0 10px;margin-bottom: 0;text-align: center;}

#main .index_list .prod_box:hover{box-shadow: 5px 5px 10px #ededed;}
#main .index_list .prod_box .pic_box{width: 225px;height: 225px;overflow: hidden;}
#main .index_list .prod_box .pro_name{height: 38px;margin-top: 10px;overflow: hidden;line-height: 19px;}
#main .index_list .prod_box .pro_name a{font-size: 14px;color: #656565;}
#main .index_list .prod_box .prod_price{padding: 11px 0 0 0;color: #333;}
#main .index_list .prod_box .prod_price>div{}
#main .index_list .prod_box .prod_price,#main .index_list .prod_box .prod_price em{font-size: 18px;font-weight: normal;font-family: Whitney_Medium;}
#main .index_list .prod_box .prod_price .currency_data{margin-right: 3px;}
#main .index_list .prod_box .prod_price del{display: inline-block;margin-top: 5px;}
#main .index_list .prod_box .prod_price del,#main .index_list .prod_box .prod_price del .currency_data{font-size: 14px;color: #999999;}
#main .index_list .prod_box .prod_price .icon_discount,#main .index_list .prod_box .prod_price .icon_seckill{position: absolute;top: 0;right: 0;padding: 0 7px;height: 20px;line-height: 20px;text-align: center;margin: 0;color: #fff;font-size: 14px;background: #000;}
#main .index_list .prod_box .prod_price .icon_seckill{display: none;background: #e62e04;}
#main .index_list .prod_box .prod_price .icon_discount b{display: inline-block;vertical-align: middle;color: white;font-size: 12px;}
.prod_box .pro_view{margin-top: 15px;}

#main .index_new{margin-bottom: 45px;}
#main .index_new .content{position: relative;margin: 0 12px;/*height: 878px;*/}
.w_1200 #main .style0 .content{height: 878px;}
.w_1200 #main .style1 .content{height: 778px;}
#main .style0 .content{height: 716px;}
#main .style1 .content{height: 628px;}
#main .index_new .content .photo{position: absolute;overflow: hidden;}
#main .style0 .content .photo.pType_0{width: 48.94%;height: 32.13%;}
#main .style0 .content .photo.pType_1{width: 48.94%;height: 65.55%;}
#main .style1 .content .photo.pType_0{width: 65.59%;height: 48.588%;}
#main .style1 .content .photo.pType_1{width: 32.54%;height: 48.588%;}
#main .index_new .content .photo.p1{top: 0;left: 0;}
#main .index_new .content .photo.p2{top: 0;right: 0;}
#main .index_new .content .photo.p3{bottom: 0;left: 0;}
#main .index_new .content .photo.p4{bottom: 0;right: 0;}
#main .index_new .content .photo img{transition: all .3s;}
#main .index_new .content .photo:hover img{transform: scale(1.03);}


/*************************** gloabl start ***************************/
.icon_heart{width:18px; height:18px; background:url(../images/normal.png) no-repeat -679px -71px; display:inline-block; vertical-align:top;}
.hover_1 .icon_heart{ background:url(../images/normal.png) no-repeat -188px -117px;}

.pro_left{width:238px;}
.pro_left .ad{margin-top:20px;}
.pro_right{width:720px;}

.sidebar{border:1px #e6e6e6 solid; margin-top:20px;}
.sidebar .b_title{height:35px; line-height:35px; border-bottom:1px #ccc dashed; margin:0 10px; font-size:15px;}
.sidebar .b_bottom{line-height:30px; color:#1363bc; text-decoration:none; margin-left:10px;}

.side_category{border:1px #d5d5d5 solid; background:#fff;}
.side_category a{display:block; padding-left:13px; border:0;}
.side_category .current{background:url(../images/cate_menu.png) no-repeat 3px 9px; color:#f60; font-weight:bold;}
.side_category .cate_title{padding:5px 0; line-height:160%; background:#e6e6e6; padding-left:15px; font-weight:bold;}
.side_category .cate_menu dd{padding:0 3px;}
.side_category .cate_menu dd.first{margin:0 3px; padding:0;}
.side_category .cate_menu dd.first>a{border-bottom:1px #d5d5d5 dotted; background-position:3px 13px;}
.side_category .cate_menu dd:first-child{border-top:0;}
.side_category .cate_menu dd>a{line-height:33px;}
.side_category .cate_menu dl{padding-left:7px; border-bottom:1px #dadada solid;}
.side_category .cate_menu dl dd{border-top:0;}
.side_category .cate_menu dl a{border:0; line-height:26px;}
.side_category .cate_menu dl dl{border-bottom:0;}

.popular_search{border:1px #d5d5d5 solid; background:#fff;}
.popular_search .title{height:28px; line-height:28px; background:#e8e8ea; padding:0 9px; font-weight:bold;}
.popular_search .view{margin:10px; line-height:23px;}
.popular_search .view a{text-decoration:underline; margin-right:7px;}
.popular_search .view a.big{font-weight:bold;}

#what_hot .pro_item{padding:10px;}
#what_hot .pro_item:hover{background:#f7f7f7;}
#what_hot .pro_item>dt{width:82px; height:82px; text-align:center; vertical-align:middle; border:1px solid #f2f2f2;}
#what_hot .pro_item>dt img{max-width:100%; max-height:100%;}
#what_hot .pro_item .pro_info{width:121px; overflow:hidden; margin-left:10px;}
#what_hot .pro_item .pro_name{height:50px; overflow:hidden; line-height:140%; margin-bottom:5px;}
#what_hot .pro_item a{color:#666;}

#special_offer .pro_item{border-bottom:1px #ddd solid; padding:15px 10px;}
#special_offer .pro_item:hover{background:#f7f7f7;}
#special_offer .pro_item dt{width:96px; height:96px; text-align:center; margin:0 auto; position:relative; overflow:inherit;}
#special_offer .pro_item dt img{max-width:100%; max-height:100%;}
#special_offer .pro_item dt>.icon_discount{position:absolute; top:-10px; right:-40px; width:30px; height:30px; color:#fff; border-radius:999%; -ms-border-radius:999%; -moz-border-radius:999%; -webkit-border-radius:999%; line-height:15px; padding:9px;}
#special_offer .pro_item dt>.icon_discount b{font-size:16px;}
#special_offer .pro_item dd{padding:0 13px;}
#special_offer .pro_item .pro_name{height:30px; overflow:hidden; line-height:140%; margin:5px 0 12px;}
#special_offer .pro_item a{text-decoration:none; color:#666;}
#special_offer .pro_item del{margin-left:20px; color:#666; font-size:12px;}
#special_offer .pro_item del .currency_data, #special_offer .pro_item del .price_data{color:#666; font-size:12px; font-weight:normal;}
#special_offer .last{border-bottom:0;}
/*************************** gloabl end ***************************/