/*关于我们*/

.about-intro{
    padding: 1.25rem 2.05rem 1.25rem 0;
}
.mid-content {
    padding-top: 116px;
    padding-bottom: 54px;
}
.about-banner{
    height: 680px;
    width: 100%;
    text-align: center;
    background-image: url("../images/cbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.about-banner-title{
    position: relative;
    top: 50%; /*偏移*/
    transform: translateY(-70%);
    color: #fff;
    font-size: 72px;
    font-weight: bolder;
    letter-spacing: 30px;
}

.about-banner-title img{
    width: auto;
    max-width: 250px;
}
.card-title {
    color: #F64A00;
    font-weight: 600;
    /*letter-spacing: 6px;*/
    font-size: 32px;
    letter-spacing: 1px;
}
.card-text{
    color: #BABABA;
    font-size: 20px;
    font-weight: lighter;
    font-family: initial;
}
.card-intro{
    font-family:"Microsoft YaHei Regular";
    text-indent: 28px;
    margin-right: -5px;
    font: 14px/20px 'Microsoft YaHei';
    color: rgba(0, 0, 0, 0.5) !important;
    line-height: 24px;
}

.img-boxs{
    padding: 1.25rem;
    overflow: hidden;
}

.img-boxs img{
    float: right;
}
.block-2 strong{
    font-size: 56px;
    color: #605E5F;
}
.row.block-2 .h2{
    margin: 1.25rem!important;
}
.block-intro{
    width: 60%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5) !important;
    font: 14px/20px 'Microsoft YaHei';
}
.quater-wrap{
    overflow: hidden;
    clear: both;

}
.quater-wrap li{
    width: 23.95%;
    position: relative;
    margin-right: 1.5%;
}
.quater-wrap img{
    width: 100%;
}

.quater-intro-font{
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    top: 13%;
    transform: translateY(-50%);
    text-align: initial;
    padding: 0 18px;
}
.quater-block:hover .quater-mask{
    /*top: 0;*/
}
.quater-mask{
    height: 100%;
    width: 100%;
    background-color: #FF6D00;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: -100%;
    padding: 8% 5%;
    transition: all 0.5s;
}
.quater-block:nth-child(3) .quater-mask{
    top: 0%;
}

.hover-font-title{
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    /*text-align: initial;*/
    padding: 0 18px;
}
.hover-font-intro{
    font-size: 14px;
    margin-bottom: 3.5rem;
}
.hover-hot-link{
    width: 100%;
}
.hover-hot-link a{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 2px;
    display: inline-block;
    background-color: #EC4300;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.hover-snlink{
    background-image: url("../images/sn.jpg");
}
.hover-qqlink{
    background-image: url("../images/qq.jpg");
}
.hover-wxlink{
    background-image: url("../images/wx.jpg");
}
