body{
    background-color: #EEEEEE;
}

a,a:hover{
    color: #555555;
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.c-red{
    color: red;
}
.bg-orang{
    background-color: #FF6D00;
    /*color: #ffffff;*/
}
.bg-dark{
    background-color: #353535!important;
}
.bg-grey{
    background-color: #E5E5E5;
}

.bg-blue {
    background-color: #2C73FF;
}

.bg-light-blue {
    background-color: #2C73FF;
}

.indent-2 {
    text-indent: 36px;
}
.border-b{
    border-bottom: 1px solid #eee!important;
    border-radius: 0!important;
    padding-bottom: 1rem;
}

.mHeader, .mMain {
    display: none;
}

header {
    background-color: #ffffff;
}
.navbar-brand{
    margin-right: 0px;
}
.logo{
    height: 54px;
}

.container-xl {
    width: 1200px;
}

.container-xl-1000 {
    width: 1000px;
    margin: 0 auto;
}
.navbar-nav.mr-auto {
    margin: 0 auto;
}
.nav-item {
    margin: 0 32px;
}
.nav-item a{
    color: #555;
    font-size: 16px;
}

.nav-item.active a{
    color:#F87A4A
}

.form-inline{
    position: relative;
    width: 245px;
}
.form-inline .form-control{
    width: 100%;
}
.form-control {
    color: #E1E1E1;
    background-color: #C2C2C2;
}
.form-control::-webkit-input-placeholder{
    color: #E1E1E1;
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #E1E1E1;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #E1E1E1;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #E1E1E1;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E1E1E1;
}

.form-control:focus {
    color: #495057;
    background-color: #C2C2C2;
    /*border-color: #F77044;*/
    border-color: transparent;
    outline: 0;
    /*box-shadow: 0 0 0 0.2rem rgba(247, 112, 68, 0.25);*/
    box-shadow: none;
}

.form-searchico{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    background-image: url("../images/search.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none!important;
    background-color: transparent;
}


.swiper-container.swiper-banner {
    width: 100%;
    height: 500px;
}
.title-container.container-xl {
    margin-top: -358px;
    margin-bottom: 358px;
}
.swiper-container.swiper-info{
    width: 245px;
    background: rgba(0,0,0,.5);
    float: right;
    height: 260px;
    /*height: 144px;*/
    padding: 0;
}
.swiper-info ul{
    padding: 0px;
}
.swiper-info li{
    width: 245px;
    list-style: none;
    font-size: 14px;
    line-height: 15px;
    color: #f7f7f7;
    padding: 10px 15px 10px!important;
}
.swiper-slide .swiper-name{
    margin-bottom: 0px;
    font-size: 20px;
    color: #F88101;
    display: none;
}
.swiper-slide .swiper-slogen{
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height: 30px;
}

.swiper-slide-thumb-active{
    height: 70px!important;
    line-height: 24px!important;
    background: rgba(0,0,0,.55);
}
.swiper-slide-thumb-active .swiper-name{
    display: block;
}
.swiper-pagination-bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    opacity: 1;
    border-radius: 10px;
    background: white;
    margin: 0 3px;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}
.swiper-container .swiper-pagination-bullet-active {
    background: #FE5D02;
    width: 28px;
}
.swiper-slide-thumb-active .slogen-title{
    display: none;
}
.album {
    padding-top: 60px!important;
}
.block-title{
    border-left: 4px solid #FE5D02;
    padding-left: 8px;
    margin-bottom: 15px;
    height: 24px;
    line-height: 20px;
}
.block-title-en{
    text-transform: uppercase;
    /*font-size: 14px;*/
    font-weight: lighter;
    color: rgba(0,0,0,.2);
}
.block-container{
    margin-left: -10px;
    margin-right: -10px;
}
.block-container .col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}
.pic-146{
    /*position: relative;*/
}
.card ,.card-body{
    border: none;
}
.pic-64{
    border: none;
}
.pic-146 .card,
.pic-64 .card{
    overflow: hidden;
    border-radius: 0!important;
}
.card-mask{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
    text-align: center;
    display: none;
    /*transition: all .5s;*/
}
.mask-bigger{
    padding-top: 22%;
    /* top: -480px; */
    height: 480px;
    line-height: 180px;
}
.mask-quater{
    /*top: -240px;*/
    height: 240px;
    line-height: 230px;
}
.card-mask img{
    width: 30%;
}
.mask-bigger p{
    color: #f7f7f7;
    line-height: 50px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 6px;
}
.mask-quater p{
    display: inline-block;
    color: #f7f7f7;
    line-height: 50px;
    font-size: 30px;
    vertical-align: -webkit-baseline-middle;
    margin-left: 30px;
    font-weight: 600;
    letter-spacing: 6px;
}
.pic-64 .mb-4{
    border-radius: 0!important;
    margin-bottom: 20px!important;
    overflow: hidden;
}
.pic-64 .card-body{
    height: 64px;
}
.card:hover .card-mask{
    display: block;
}
.soft-container{
    margin-left: -10px;
    margin-right: -10px;
}
.media {
    background-color: #fff;
    padding: 15px;
    max-height: 116px;
    overflow: hidden;
}
.media .mr-3{
    width: 85px;
    height: 85px;
}
.card-text {
    font-weight: 600;
    font-weight: 600;
    font-family: "Microsoft YaHei";
    color: #272a2c;
    font: 20px/46px 'Microsoft YaHei';
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 20px;
    line-height: 24px;
    font-family: "Microsoft YaHei";
    padding: 0px 1px 0;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    overflow: hidden;
    font-weight: bold;
}
.text-muted {
    color: #a0a0a0!important;
    font: 14px/20px 'Microsoft YaHei';
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.soft-box{
    padding-left: 10px;
    padding-right: 10px;
}
.soft-box .soft-name{
    margin-top: 6px!important;
    margin-bottom: 0;
    font-weight: 600;
    font-weight: 600;
    font-family: "Microsoft YaHei";
    color: #272a2c;
    font: 20px/46px 'Microsoft YaHei';
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 20px;
    line-height: 24px;
    font-family: "Microsoft YaHei";
    padding: 0px 1px 0;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    overflow: hidden;
    font-weight: bold;
}
.soft-box .mb-3{
    margin-bottom: 20px!important;
}
.soft-classify{
    margin: 3px 0;
}
.soft-classify span {
    background: coral;
    font-size: 12px;
    color: white;
    padding: 1px 4px;
    border-radius: 2px;
    margin-right: 5px;
}
.soft-intro{
    font-size: 12px;
    color: grey;
    margin-bottom: 5px;
}

.special-container{
    margin-bottom: 40px!important;
    padding-top: 40px!important;
}
footer p{
    color: #888888;
    font-size: 12px;
    margin-bottom: 5px;
}
.bottom-box {
    text-align: center;
}
.bottom-logo.mt-5 {
    width: 105px;
    margin-top: 2rem!important;
}

.inpage-fixed{
    position: fixed;
    right: 10px;
    bottom: 41.5%;
    height: 72px;
    z-index:10000;
}
.inpage-fixed span,
.inpage-fixed a{
    text-decoration: none;
}
.inpage-joinus{
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e96a28;
}
.inpage-kf{
    /*background-color: #ffffff;*/
    color: #333333;
    text-align: right;
}
.inpage-joinus>a,
.inpage-kf>span{
    background-color: #e96a28;
    padding: 3px 15px 3px 34px;
    padding-left: 45px;
    color: #EEEEEE;
    margin-bottom: 5px;
    background-image: url("../images/contact-tag.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: left;
    background-position-x: 13px;
    line-height: 31px;
    text-align: center;
}


.inpage-joinus>a {
    background-image: url("../images/join-tag.png");
    background-color: transparent;
    line-height: 23px;
    background-position-x: 13px;
    display: inline-block;
    text-align: center;
    background-position-y: 7px;
}
.inpage-kf>span {
    display: inline-block;
}
.kf-box{
    background: #ffffff;
    border: 1px solid #d4d4d4;
    padding: 6px 6px 6px 0;
    display: none;
    height: 95px;
    font-size: 13px;
    transition: all 0.5s;
    width: 200px;
    text-align: center;
    margin-top: 6px;
    margin-left: -44px;
}
.kf-item span{
    color: #e96a28;
}

.kf-item a{
    color: #383838;
}

