div,
a {
  display: block;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 3;
  overflow: visible;
  transition: all .3s;
}

.head div,
.head a {
  display: block;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.head #head {
  width: 1280px;
  height: 100%;
  overflow: visible;
}

.head #head .logo {
  float: left;
  width: 197px;
  height: 43px;
  margin: 13.5px 0;
  transform: scale(0.9);
}

.head #head .head-ul {
  height: 70px;
  text-align: right;
  overflow: visible;
}

.head #head .head-ul .head-li {
  position: relative;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 15px 0;
  padding: 0 20px;
  font-size: 16px;
  color: white;
  border-radius: 20px;
  overflow: visible;
  transition: all .3s;
}

.head #head .head-ul .head-li .hl-ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  overflow: visible;
  transition: all .3s;
}

.head #head .head-ul .head-li .hl-ul .hl-li {
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  font-size: 14px;
  background: white;
  cursor: pointer;
  white-space: nowrap;
  overflow: visible;
  transition: all .3s;
}

.head #head .head-ul .head-li .hl-ul .hl-li:hover {
  color: white;
  background: #ff8350;
}

.head #head .head-ul .head-li:hover .hl-ul {
  top: 40px;
  height: auto;
  opacity: 1;
}

.head #head .head-ul .head-li:hover .hl-ul .hl-li {
  height: 40px;
}

.head #head .head-ul div.head-li {
  cursor: default;
}

.head #head .head-ul .head-li.on,
.head #head .head-ul .head-li:hover {
  color: #ff8350;
  background: white;
}

.head.on {
  background: white;
}

.head.on #head .head-li {
  color: #333;
  height: 70px;
  line-height: 70px;
  margin: 0;
  padding: 0 20px;
  border-radius: 0;
}

.head.on #head .head-li:hover .hl-ul {
  top: 70px;
  background: white;
  box-shadow: 3px 5px 10px rgba(131, 148, 248, 0.32);
}

.head.on #head .head-li:hover .hl-ul .hl-li {
  margin: 0;
  border-bottom: solid 1px #dfdfdf;
  border-radius: 0;
}

.head.on #head .head-li.on,
.head.on #head .head-li:hover {
  color: white;
  background: #ff8350;
}

.intro-img {
  width: 100%;
  min-width: 1280px;
  height: 408px;
  margin-top: 70px;
}

.intro-img > img {
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  width: 100%;
  background: linear-gradient(to right, #ff956a 50%, #ff8350 50%);
}

.footer div,
.footer a {
  display: block;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.footer #footer {
  position: relative;
  width: 1280px;
  padding: 50px 0 10px 0;
  background: url("../img/footer_bg.png") no-repeat;
  overflow: visible;
}

.footer #footer .footer-ul .footer-li {
  float: left;
  margin-right: 130px;
}

.footer #footer .footer-ul .footer-li .fl-title {
  height: 18px;
  line-height: 18px;
  margin-bottom: 44px;
  text-align: left;
  font-size: 16px;
  color: white;
  cursor: default;
}

.footer #footer .footer-ul .footer-li .fl-box {
  min-height: 36px;
}

.footer #footer .footer-ul .footer-li .fl-box .flb-li {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: left;
  color: white;
  cursor: pointer;
}

.footer #footer .footer-ul .footer-li .fl-box.contact .flb-li {
  height: auto;
  margin-bottom: 15px;
}

.footer #footer .footer-ul .footer-li .fl-box.contact .flb-li > img {
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 5.5px;
  margin-right: 18px;
}

.footer #footer .footer-ul .footer-li .fl-box.contact .flb-li > div {
  font-size: 16px;
  text-align: left;
  color: white;
}

.footer #footer .footer-ul .footer-li .fl-box.notice .fl-qr {
  width: 159px;
  height: 159px;
  background: rgba(0, 0, 0, 0.8);
}

.footer #footer .footer-ul .footer-li:last-child {
  margin-right: 0;
}

.footer #footer .footer-bottom {
  margin-top: 30px;
}

.footer #footer .footer-bottom > p {
  height: 12px;
  line-height: 12px;
  margin-bottom: 10px;
  color: white;
  font-size: 12px;
}

.footer #footer .footer-bottom > p > img {
  height: 100%;
  vertical-align: top;
}

.footer #footer .footer-bottom > p > a {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  color: white;
  font-size: 12px;
}

.same-box {
  width: 100%;
  background: #f5f5f5;
}

.same-box #same-box {
  width: 1280px;
  min-height: 50px;
  padding: 26px 30px 30px 30px;
  background: white;
  box-sizing: border-box;
  overflow: visible;
}

.same-box #same-box .detail {
  height: 100px;
  margin-bottom: 44px;
  border-bottom: solid 1px #dfdfdf;
}

.same-box #same-box .detail .detail-title {
  height: 26px;
  line-height: 26px;
  margin-bottom: 33px;
  font-size: 26px;
  text-align: left;
}

.same-box #same-box .detail .detail-content {
  height: 17px;
  line-height: 17px;
  font-size: 16px;
  text-align: left;
}

.same-box #same-box .detail .detail-content div {
  color: #999;
}

.same-box #same-box .rich-text {
  width: 65%;
  min-height: 0px;
}
