div,
a {
  display: block;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 3;
  overflow: visible;
  transition: all .3s;
}

.head div,
.head a {
  display: block;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.head #head {
  width: 1280px;
  height: 100%;
  overflow: visible;
}

.head #head .logo {
  float: left;
  width: 197px;
  height: 43px;
  margin: 13.5px 0;
  transform: scale(0.9);
}

.head #head .head-ul {
  height: 70px;
  text-align: right;
  overflow: visible;
}

.head #head .head-ul .head-li {
  position: relative;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 15px 0;
  padding: 0 20px;
  font-size: 16px;
  color: white;
  border-radius: 20px;
  overflow: visible;
  transition: all .3s;
}

.head #head .head-ul .head-li .hl-ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  overflow: visible;
  transition: all .3s;
}

.head #head .head-ul .head-li .hl-ul .hl-li {
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  font-size: 14px;
  background: white;
  cursor: pointer;
  white-space: nowrap;
  overflow: visible;
  transition: all .3s;
}

.head #head .head-ul .head-li .hl-ul .hl-li:hover {
  color: white;
  background: #ff8350;
}

.head #head .head-ul .head-li:hover .hl-ul {
  top: 40px;
  height: auto;
  opacity: 1;
}

.head #head .head-ul .head-li:hover .hl-ul .hl-li {
  height: 40px;
}

.head #head .head-ul div.head-li {
  cursor: default;
}

.head #head .head-ul .head-li.on,
.head #head .head-ul .head-li:hover {
  color: #ff8350;
  background: white;
}

.head.on {
  background: white;
}

.head.on #head .head-li {
  color: #333;
  height: 70px;
  line-height: 70px;
  margin: 0;
  padding: 0 20px;
  border-radius: 0;
}

.head.on #head .head-li:hover .hl-ul {
  top: 70px;
  background: white;
  box-shadow: 3px 5px 10px rgba(131, 148, 248, 0.32);
}

.head.on #head .head-li:hover .hl-ul .hl-li {
  margin: 0;
  border-bottom: solid 1px #dfdfdf;
  border-radius: 0;
}

.head.on #head .head-li.on,
.head.on #head .head-li:hover {
  color: white;
  background: #ff8350;
}

.intro-img {
  width: 100%;
  min-width: 1280px;
  height: 408px;
  margin-top: 70px;
}

.intro-img > img {
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  width: 100%;
  background: linear-gradient(to right, #ff956a 50%, #ff8350 50%);
}

.footer div,
.footer a {
  display: block;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.footer #footer {
  position: relative;
  width: 1280px;
  padding: 50px 0 10px 0;
  background: url("../img/footer_bg.png") no-repeat;
  overflow: visible;
}

.footer #footer .footer-ul .footer-li {
  float: left;
  margin-right: 130px;
}

.footer #footer .footer-ul .footer-li .fl-title {
  height: 18px;
  line-height: 18px;
  margin-bottom: 44px;
  text-align: left;
  font-size: 16px;
  color: white;
  cursor: default;
}

.footer #footer .footer-ul .footer-li .fl-box {
  min-height: 36px;
}

.footer #footer .footer-ul .footer-li .fl-box .flb-li {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: left;
  color: white;
  cursor: pointer;
}

.footer #footer .footer-ul .footer-li .fl-box.contact .flb-li {
  height: auto;
  margin-bottom: 15px;
}

.footer #footer .footer-ul .footer-li .fl-box.contact .flb-li > img {
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 5.5px;
  margin-right: 18px;
}

.footer #footer .footer-ul .footer-li .fl-box.contact .flb-li > div {
  font-size: 16px;
  text-align: left;
  color: white;
}

.footer #footer .footer-ul .footer-li .fl-box.notice .fl-qr {
  width: 159px;
  height: 159px;
  background: rgba(0, 0, 0, 0.8);
}

.footer #footer .footer-ul .footer-li:last-child {
  margin-right: 0;
}

.footer #footer .footer-bottom {
  margin-top: 30px;
}

.footer #footer .footer-bottom > p {
  height: 12px;
  line-height: 12px;
  margin-bottom: 10px;
  color: white;
  font-size: 12px;
}

.footer #footer .footer-bottom > p > img {
  height: 100%;
  vertical-align: top;
}

.footer #footer .footer-bottom > p > a {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  color: white;
  font-size: 12px;
}

.function {
  width: 100%;
  background: white;
}

.function #function {
  width: 1280px;
  height: 100px;
}

.function #function .f-right {
  float: right;
  width: 220px;
  height: 40px;
  margin: 30px 0;
}

.function #function .f-left {
  height: 100px;
}

.function #function .f-left .fl-ul {
  height: 100%;
}

.function #function .f-left .fl-ul .fl-li {
  position: relative;
  float: left;
  height: 100px;
  line-height: 100px;
  margin-right: 99px;
  padding: 0 2px 0 6px;
  cursor: pointer;
}

.function #function .f-left .fl-ul .fl-li .fl-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ef7f51;
  transition: all .3s;
}

.function #function .f-left .fl-ul .fl-li:last-child {
  margin-right: 0;
}

.function #function .f-left .fl-ul .fl-li.on .fl-line,
.function #function .f-left .fl-ul .fl-li:hover .fl-line {
  width: 100%;
}

.same-box {
  position: relative;
}

.same-box #same-box {
  width: 1280px;
}

.same-box #same-box .same-top {
  width: 100%;
  height: 120px;
  overflow: visible;
}

.same-box #same-box .same-top .same-logo {
  float: left;
  height: 120px;
}

.same-box.city #same-box {
  margin: 71px auto 117px;
}

.same-box.city #same-box .same-top {
  margin-bottom: 12px;
}

.same-box.city #same-box .city-box {
  position: relative;
  width: 1280px;
}

.same-box.city #same-box .city-box .cb-right {
  float: right;
  margin-top: 500px;
  margin-left: 50px;
}

.same-box.city #same-box .city-box .cb-right .cbr-li {
  margin-bottom: 30px;
}

.same-box.city #same-box .city-box .cb-right .cbr-li > img {
  float: left;
  width: 35px;
  margin-right: 15px;
}

.same-box.city #same-box .city-box .cb-right .cbr-li > div {
  width: 250px;
  line-height: 30px;
  margin-top: -3px;
  font-size: 18px;
  text-align: left;
}

.same-box.city #same-box .city-box .cb-right .cbr-li > div > span {
  font-size: 28px;
}

.same-box.city #same-box .city-box .cb-right .cbr-li:first-child > img {
  width: 37px;
  margin-right: 13px;
}

.same-box.city #same-box .city-box .city-bg > img {
  width: 100%;
}

.same-box.same {
  background: #f5f5f5;
}

.same-box.same #same-box {
  margin: 71px auto 125px;
  overflow: visible;
}

.same-box.same #same-box .same-top {
  margin-bottom: 90px;
}

.same-box.same #same-box .same-ul {
  overflow: visible;
}

.same-box.same #same-box .same-ul .same-li {
  position: relative;
  display: inline-block;
  width: 426px;
  min-height: 130px;
  margin-bottom: 32px;
  padding: 25px 36px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all .3s;
}

.same-box.same #same-box .same-ul .same-li .sl-icon {
  text-align: center;
}

.same-box.same #same-box .same-ul .same-li .sl-icon > img {
  height: 87px;
  margin: 0 auto;
}

.same-box.same #same-box .same-ul .same-li > div {
  height: auto;
  line-height: 30px;
  font-size: 16px;
}

.same-box.same #same-box .same-ul .same-li > div.big {
  height: 24px;
  line-height: 24px;
  margin-top: 38px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
}

.same-box.same #same-box .same-ul .same-li:hover {
  z-index: 1;
  box-shadow: 0 1px 30px #ccc;
}

.same-box.affiliate #same-box {
  margin: 92px auto 85px;
  overflow: visible;
}

.same-box.affiliate #same-box .same-top {
  margin-bottom: 92px;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul {
  padding: 30px 15px;
  box-sizing: border-box;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li {
  position: relative;
  float: left;
  width: 400px;
  margin-right: 25px;
  margin-bottom: 27px;
  padding: 19px 27px 66px;
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all .3s;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li .ab-font {
  line-height: 30px;
  font-size: 18px;
  text-align: left;
  color: #ff8350;
  transition: all .3s;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li .ab-font.small {
  line-height: 12px;
  margin-bottom: 35px;
  font-size: 12px;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li .ab-font.small .font-line {
  display: inline-block;
  width: 44px;
  height: 6px;
  margin-top: 5px;
  margin-right: 23px;
  background: #ff8350;
  vertical-align: top;
  transition: all .3s;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li .ab-font.big {
  line-height: 50px;
  margin-bottom: -8px;
  font-size: 28px;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li .ab-font.big > span {
  display: inline-block;
  width: 44px;
  font-size: 44px;
  margin-right: 23px;
  text-align: center;
  color: #ff8350;
  transition: all .3s;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li .ab-img {
  position: absolute;
  opacity: 1;
  transition: all .3s;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li .ab-img.hover {
  opacity: 0;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:hover {
  background: #ff8350;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:hover .ab-font {
  color: white;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:hover .ab-font > span {
  color: white;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:hover .ab-font .font-line {
  background: white;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:hover .ab-img {
  opacity: 0;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:hover .ab-img.hover {
  opacity: 1;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:first-child .ab-img {
  right: 4px;
  bottom: 0;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:nth-child(2) .ab-img {
  top: 0;
  right: 0;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:last-child {
  margin-right: 0;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul .ab-li:last-child .ab-img {
  bottom: 0;
  right: 42px;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul.half {
  margin-bottom: -60px;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul.half .ab-li {
  width: 600px;
  margin-right: 50px;
  padding: 19px 27px;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul.half .ab-li:first-child .ab-img {
  right: 50px;
  bottom: 0;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul.half .ab-li:last-child {
  margin-right: 0;
}

.same-box.affiliate #same-box .affiliate-box .ab-ul.half .ab-li:last-child .ab-img {
  top: 0;
  right: 0;
}

.same-box.contact {
  background: #f5f5f5;
}

.same-box.contact #same-box {
  margin: 65px auto 63px;
}

.same-box.contact #same-box .same-top {
  margin-bottom: 77px;
}

.same-box.contact #same-box .contact-box {
  padding: 69px 65px;
  background: white;
  box-sizing: border-box;
}

.same-box.contact #same-box .contact-box .contact-right {
  float: right;
  width: 577px;
  height: 470px;
  margin-left: 30px;
  border-radius: 4px;
  box-sizing: border-box;
}

.same-box.contact #same-box .contact-box .contact-right > img {
  height: 100%;
  transform: translateX(-107px);
}

.same-box.contact #same-box .contact-box .contact-left .cl-li {
  margin-bottom: 45px;
}

.same-box.contact #same-box .contact-box .contact-left .cl-li .cl-font {
  height: 20px;
  line-height: 20px;
  margin-bottom: 25px;
  font-size: 20px;
  text-align: left;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.same-box.contact #same-box .contact-box .contact-left .cl-li .cl-font.big {
  height: 46px;
  line-height: 46px;
  margin-bottom: 0;
  font-size: 46px;
  font-weight: bold;
  color: #333;
}

.same-box.contact #same-box .contact-box .contact-left .cl-li:last-child {
  margin-bottom: 0;
}

.same-box.contact #same-box .contact-box .contact-left .cl-li.another .cl-font {
  margin-bottom: 18px;
}

.same-box.contact #same-box .contact-box .contact-left .cl-li.another .cl-font.big {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}
